<section id="">
    <div class="container">
        <div class="col-xs-12 col-md-6 col-md-offset-3 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <div class="panel-title">
                        <h2 class="text-white text-center">Campaign Title</h2>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <label for="campaign_title">Donation Amount</label>
                            <input type="number" class="form-control input-xlg" id="campaign_title" placeholder="$0">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Name</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="Name" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Email</label>
                            <input type="email" class="form-control" id="campaign_title" placeholder="Email" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Phone</label>
                            <input type="text" class="form-control" id="campaign_title" ui-mask="999 999 9999" ng-model="phone" placeholder="___ ___ ____">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Payment Type</label>
                            <select name="" id="" class="form-control">
                                <option value="">Select-one</option>
                                <option value="">Credit / Debit Card </option>
                                <option value="">Net Banking</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Select Your Bank</label>
                            <select name="" id="" class="form-control">
                                <option value="">Select-one</option>
                                <option value="">Bank Name1</option>
                                <option value="">Bank Name2</option>
                                <option value="">Bank Name3</option>
                                <option value="">Bank Name4</option>
                                <option value="">Bank Name5</option>
                                <option value="">Bank Name6</option>
                                <option value="">Bank Name7</option>
                                <option value="">Bank Name8</option>
                                <option value="">Bank Name9</option>
                                <option value="">Bank Name10</option>
                            </select>
                        </div>
                        <a href="#/card_donation_form" class="btn btn-primary pull-right" ng-click="tab = 2">Continue</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
