<section id="">
    <div class="container">
        <div class="col-xs-12 col-md-4 col-md-offset-4 no-padding">
            <div class="panel panel-primary no-radius">
                <div class="panel-heading text-center no-radius">
                    <div class="panel-title">
                        <h2><strong>Sign Up</strong></h2>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" id="sign_up_form">
                        <div class="input-group form-group">
                            <span class="input-group-addon no-radius" id="basic-addon1"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control no-radius" placeholder="Your Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group form-group">
                            <span class="input-group-addon no-radius" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control no-radius" placeholder="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group form-group ">
                            <span class="input-group-addon no-radius" id="basic-addon1"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control no-radius" placeholder="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group form-group">
                            <p>
                                <input type="checkbox" placeholder="Username" aria-describedby="basic-addon1">
                                <a href="" class="text-info text-right"> I agree Terms &amp; Conditions</a>,
                                <a href="" class="text-info text-right"> Privacy policy</a></p>
                        </div>
                        <div class="clearfix">
                            <a href="#/start_fund_rasing" type="submit" class="btn btn-primary pull-right no-radius">Submit</a>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                    
                        <p>signin with</p>
                        <button type="submit" class="btn btn-primary no-radius"><span class="fa fa-facebook fa-1x"></span></button>
                        <button type="submit" class="btn btn-info no-radius"><span class="fa fa-twitter fa-1x"></span></button>
                        <button type="submit" class="btn btn-danger no-radius"><span class="fa fa-google-plus fa-1x"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
