<section>
    <div class="container no-padding">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-12 col-sm-3 no-padding">
                <div ng-include="'templates/dashboard/dashboard_panel.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div ng-include="'templates/dashboard/singlecampagin/single_campaign_menu.html'"></div>
                <div class="col-xs-12 no-padding">
                    <legend>Comments - 3</legend>
                    <div class="col-xs-12">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="http://lorempixel.com/50/50/people/6" />
                                </div>
                                <div class="commentText">
                                    <p><span class="">John Doe</span></p>
                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae debitis magnam, ipsam quod sint quis recusandae maiores asperiores, molestiae fugit, quo dolores sequi natus enim, perferendis sapiente facere tenetur non.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae debitis magnam, ipsam quod sint quis recusandae maiores asperiores, molestiae fugit, quo dolores sequi natus enim, perferendis sapiente facere tenetur non.</p> <span class="date sub-text">on March 5th, 2014</span>
                                    <p><a href="" class="text-danger">Remove</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="commenterImage">
                                    <img src="http://lorempixel.com/50/50/people/7" />
                                </div>
                                <div class="commentText">
                                    <p><span class="">John Doe</span></p>
                                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                                    <p><a href="" class="text-danger">Remove</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="commenterImage">
                                    <img src="http://lorempixel.com/50/50/people/9" />
                                </div>
                                <div class="commentText">
                                    <p><span class="">John Doe</span></p>
                                    <p class="">Hello this is a test comment.</p>
                                    <span class="date sub-text">on March 5th, 2014</span>
                                    <p><a href="" class="text-danger">Remove</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
