<section id="">
    <br />
    <div class="container clearfix no-padding">
        <div class="col-xs-12 clearfix no-padding">
            <div class="col-xs-12 col-sm-3 no-padding">
                <div ng-include="'templates/dashboard/dashboard_panel.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div>
                    <div ng-include="'templates/dashboard/singlecampagin/single_campaign_menu.html'"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 no-padding">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h2 class="no-margin">Campaign Title</h2></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-4">
                                            <a href="" class="thumbnail">
                                                <img src="http://placehold.it/800x500" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xs-8">
                                            <form action="" method="POST" role="form">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="Comments[text]" rows="6" title="Type your comment here..." id="commentTextBox" placeholder="Updates here...."></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
