<div class="row">
    <legend>
        Campaign Title
    </legend>
    <div class="col-xs-12 no-padding">
        <div class="col-sm-3">
            <div class="campagin-widget well well-sm">
                <div class="text">
                    <var>75%</var>
                    <label class="text-muted">Donations Complete</label>
                </div>
                <div class="options">
                    <a href="#/donations" class="btn btn-danger">View Donations</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="campagin-widget well well-sm">
                <div class="text">
                    <var>614</var>
                    <label class="text-muted">Comments</label>
                </div>
                <div class="options">
                    <a href="#/comments" class="btn btn-info">View Comments</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="campagin-widget well well-sm">
                <div class="text">
                    <var><i class="glyphicon glyphicon-edit"></i></var>
                    <label class="text-muted">Edit Campaign</label>
                </div>
                <div class="options">
                    <a href="#/edit_campagin" class="btn btn-primary"> Edit Here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="campagin-widget well well-sm">
                <div class="text">
                    <var><i class="glyphicon glyphicon-wrench"></i></var>
                    <label class="text-muted">With Draw</label>
                </div>
                <div class="options">
                    <a href="#/with_draw" class="btn btn-warning"> With Draw</a>
                </div>
            </div>
        </div>
    </div>
</div>
