<div class="col-xs-12 user-details">
    <div class="user-image">
        <img src="http://placehold.it/800x500" alt="Your Last Posted Campagin" title="Karan Singh Sisodia" class="img-circle">
    </div>
    <div class="user-info-block">
        <div class="user-heading">
            <h3>Karan Singh Sisodia</h3>
            <span class="help-block">Chandigarh, IN</span>
        </div>
        <ul class="navigation list-inline" ng-init="tab = 2">
            <li  ng-class="{active:tab===1}">
                <a href ng-click="tab = 1">
                    <span class="glyphicon glyphicon-user"></span> My Campaigns
                </a>
            </li>
            <li ng-class="{active:tab===2}">
                <a href ng-click="tab = 2">
                    <span class="glyphicon glyphicon-cog"></span> Settings
                </a>
            </li>
        </ul>
        <div class="user-body">
            <div class="tab-content">
                <div id="information" class="tab-pane active" ng-show="tab===1">
                    <ul class="list-unstyled">
                        <li>
                            <a href=""><h4>Campaign List 1</h4></a>
                        </li>
                        <li>
                            <a href=""><h4>Campaign List 2</h4></a>
                        </li>
                        <li>
                            <a href=""><h4>Campaign List 3</h4></a>
                        </li>
                        <li>
                            <a href=""><h4>Campaign List 4</h4></a>
                        </li>
                    </ul>
                </div>
                <div id="settings" class="tab-pane active" ng-show="tab===2">
                    <ul class="list-unstyled">
                        <li><a href="#/profile_settings"><h4>Profile Settings</h4></a></li>
                        <li><a href="#/account_status"><h4>Account status</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
