<section id="">
    <div class="container clearfix no-padding">
        <div class="col-xs-12 clearfix no-padding">
            <div class="col-xs-12 col-sm-3 no-padding">
                <div ng-include="'templates/dashboard/dashboard_panel.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div ng-include="'templates/dashboard/singlecampagin/single_campaign_menu.html'"></div>
                <div class="col-xs-12 col-sm-8 no-padding" ng-hide="withdraw">
                    <legend class="text-primary">Please Read this below information before continue...</legend>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul>
                        <li>
                            Enter the name and email address of the person who will be withdrawing the money.
                        </li>
                        <li>
                            We send that person an email inviting them to accept all money raised by the campaign. This invitation must be accepted within 72 hours.*
                        </li>
                        <li>
                            This person will enter their personal information. From there, all money raised from the campaign will be sent directly to them.
                        </li>
                        <li>
                            You will continue to manage the campaign. Be sure to invite the support of your personal network by sharing on Facebook, email and Twitter!
                        </li>
                    </ul>
                    <p>*After 72 hours, control of the money will go back to you. You can then attempt another transfer.</p>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-4 no-padding text-left">
                            <p><a href="">Cancel</a></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding text-center">
                            <a class="btn btn-primary " href="" ng-click="understand()">I Understand</a>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding text-right">
                            <p><a href="">Get Help</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 no-padding" ng-show="sendform">
                    <legend class="text-primary">Grant Withdrawal Access</legend>
                    <p class="text-danger">**You’re about to give away access to ALL of this campaign money</p>
                    <p>*After 72 hours, control of the money will go back to you. You can then attempt another transfer.</p>
                    <div class="col-xs-12 no-padding">
                        <form action="" method="POST" role="form">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Recipient Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email Id">
                            </div>
                        </form>
                        <div class=" btn-group">
                            <button class="btn btn-primary" ng-click="sendConfirm()">Continue</button>
                        </div>
                        <p></p>
                        <p class="text-center">
                            The person you enter must be over 18 years old, and have a U.S. Social Security Number and U.S. mailing address. This person will have full access to all the money you raise.
                        </p>
                        <p class="text-center">Need help? <a href="" class="text-underline">Contact Us</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 no-padding" ng-show="confirm">
                    <legend class="text-primary">Are You Sure?</legend>
                    <p class="text-danger">**You granted withdrawal access to</p>
                    <div class="col-xs-12 no-padding">
                        <ul class="list-unstyled">
                            <li>
                                <h4><small>Recipient Name</small></h4>
                                <h4>Leonardo Dicaprio</h4></li>
                            <li>
                                <h4><small>Recipient Email</small></h4>
                                <h4>leonardodicaprio@example.com</h4></li>
                            <li>
                                <h4><small>Dated On</small></h4>
                                <h4>2nd sept 2015</h4></li>
                        </ul>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="sure()">I’m Sure</button>
                        </div>
                        <p></p>
                        <p><a href="" class="text-underline" ng-click="understand()">Cancel</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 no-padding" ng-show="done">
                    <legend class="text-primary">Access Invitation Sent !</legend>
                    <p class="text-danger">**You’re about to give away access to ALL of this campaign money</p>
                    <p>*After 72 hours, control of the money will go back to you. You can then attempt another transfer.</p>
                    <div class="col-xs-12 no-padding">
                        <ul class="list-unstyled">
                            <li>
                                <h4><small>Recipient Name</small></h4>
                                <h4>Leonardo Dicaprio</h4></li>
                            <li>
                                <h4><small>Recipient Email</small></h4>
                                <h4>leonardodicaprio@example.com</h4></li>
                            <li>
                                <h4><small>Dated On</small></h4>
                                <h4>2nd sept 2015</h4></li>
                        </ul>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="thanks()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
