<div class="panel panel-default">
    <div class="panel-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="campaign_title">Donation Amount</label>
                <input type="number" class="form-control input-xlg" id="campaign_title" placeholder="$0">
            </div>
            <div class="col-xs-12 no-padding">
                <div class="form-group col-sm-6 no-padding-left">
                    <label for="campaign_title">First Name</label>
                    <input type="text" class="form-control" id="campaign_title" placeholder="First Name">
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label for="campaign_title">Last Name</label>
                    <input type="email" class="form-control" id="campaign_title" placeholder="Last Name">
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="form-group col-sm-6 no-padding-left">
                    <label for="campaign_title">Email</label>
                    <input type="email" class="form-control" id="campaign_title" placeholder="Email">
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label for="campaign_title">Phone</label>
                    <input type="text" class="form-control" id="campaign_title" ui-mask="999 999 9999" ng-model="mobile" placeholder="___ ___ ____">
                </div>
            </div>
            <div class="form-group">
                <label for="campaign_title">About Donator</label>
                <textarea name="" id="input" class="form-control" rows="3"></textarea>
            </div>
            <a href="" class="btn btn-primary pull-right">Submit</a>
        </form>
    </div>
</div>
