<header id="myCarousel" class="carousel slide hidden-xs">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill">
                <img src="img/slider_img1.jpg" alt="">
            </div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill">
                <img src="img/img1.jpg" alt="">
            </div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill">
                <img src="img/img2.jpg" alt="">
            </div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill">
                <img src="img/img3.jpg" alt="">
            </div>
            <div class="carousel-caption">
                <h2>Caption 4</h2>
            </div>
        </div>
    </div>
</header>

<!-- <div class="search visible-xs" search-form="search-form"></div> -->
<section id="" class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <legend>LATEST</legend>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="thumbnail clearfix">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="col-xs-12 campagin text-left">
                            <h4 class=""><a href="#/single_campagin" title="Campaign Title With Large Title Here">Campaign Title With Large Title Here</a></h4>
                            <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 text-left no-padding">
                                <h5 class="no-margin">Raised </h5>
                                <h2 class="no-margin"><strong class="text-danger">$2000k</strong></h2>
                            </div>
                            <div class="col-xs-12 col-md-6 text-right no-padding">
                                <div class="hidden-xs">
                                    <h2 class="no-margin"><strong>$200k</strong></h2>
                                    <p class="">by 200 Donators </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 text-left no-padding-right">
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left">
                                <div class="thumbnail campagin">
                                    <img src="http://placehold.it/800x500" alt="">
                                    <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                    <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                    <div class="col-xs-12 no-padding">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="">45% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="">
            <div class="col-xs-12">
                <legend>MOST POPULAR</legend>
                <div class="col-md-12 portfolio-item">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-md col-xs-12">SHOW MORE</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="">
            <div class="col-xs-12">
                <legend>LESS TIME TO FUND</legend>
                <div class="col-md-12 portfolio-item">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-md col-xs-12">SHOW MORE</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="">
            <div class="col-xs-12">
                <legend>NEAR TO COMPLETE</legend>
                <div class="col-md-12 portfolio-item">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature ">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail campagin">
                                <img src="http://placehold.it/800x500" alt="">
                                <h4 class="campagin-title"><a href="#/single_campagin" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <p class="sub-text">&nbsp;on 25 Jun 2015 by john</p>
                                <div class="col-xs-12 no-padding">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class=""><small class="sub-text">&nbsp;Raised : </small> <strong class="text-danger">$2000k</strong></h4>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-md col-xs-12">SHOW MORE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
})
</script>
