<section id="" class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <legend>Most Popular</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <legend>LATEST</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="thumbnail clearfix">
                            <img src="http://placehold.it/800x500" alt="">
                            <div class="col-xs-12 campagin text-left no-padding">
                                <h4 class="campagin-title"><a href="" title="Campaign Title With Large Title Here">&nbsp;Campaign Title With Large Title Here</a></h4>
                                <span class="sub-text">Posted on 25 Jun 2015 by john</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
