<aside class=" col-xs-12 hidden-xs dashboard_panel">
    <div class="col-xs-12 no-padding">
        <div class="user-profile-image">
            <img src="img/profile-menu.png" alt="" class="img-responsive">
            <div class="user-title-text">
                <span>John</span>
            </div>
            <div class="circle-title hidden-sm">
                <span>Hi</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="navbar user-nav">
        <ul class="nav navbar-nav user-nav">
            <li class="active">
                <a href="#/dashboard">My Campaigns</a>
            </li>
            <li>
                <a href="#/settings">Profile Settings</a>
            </li>
            <li>
                <a href="#/account_status">Account Status</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-center">
        <div class="btn btn-group ">
            <a href="#/start_fund_rasing" class="btn btn-danger">New Campaign</a>
        </div>
    </div>
</aside>
