<section id="">
    <div class="container">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-primary no-radius">
                <div class="panel-heading text-center no-radius">
                    <div class="panel-title">
                        <h2><strong>Forgot Password</strong></h2>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" id="password_forgot">
                        <div class="input-group form-group">
                            <span class="input-group-addon no-radius" id="basic-addon1"><i class="fa fa-user"></i></span>
                            <input type="email" class="form-control no-radius" placeholder="Enter email here" aria-describedby="basic-addon1">
                        </div>
                        <div class="clearfix">
                            <a href="#/verify" type="submit" class="btn btn-primary pull-right no-radius">Send Email</a>
                        </div>
                    </form>
                    <!-- <hr>
                    <div class="text-center">
                        <p>sign in with</p>
                        <button type="submit" class="btn btn-primary"><span class="fa fa-facebook fa-1x"></span></button>
                        <button type="submit" class="btn btn-info"><span class="fa fa-twitter fa-1x"></span></button>
                        <button type="submit" class="btn btn-danger"><span class="fa fa-google-plus fa-1x"></span></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
