<section id="">
    <div class="container">
        <div class="col-xs-12 col-md-6 col-md-offset-3 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <div class="panel-title text-center">
                        <p class="text-white">You Are Donating</p>
                        <h1 class="text-white ">$0</h1>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <!--  <label for="campaign_title">Select Card</label>
                             <select name="" id="" class="form-control">
                                <option value="">Select One</option>
                                <option value="">Visa</option>
                                <option value="">Master</option>
                                <option value="">American</option>
                            </select> -->
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Card Number <i class="fa fa-cc-visa fa-lg"></i></label>
                            <input name="ccnum" class="form-control" ui-mask="9999 9999 9999 9999" ng-model="cc" placeholder="____ ____ ____ ____" />
                        </div>
                        <div class="col-xs-12 no-padding">
                            <div class="form-group col-xs-12 col-sm-4 no-padding-left">
                                <label for="campaign_title">Expiry Month</label>
                                <select name="" id="" class="form-control">
                                    <option value="">Select-one</option>
                                    <option value="">Jan (01)</option>
                                    <option value="">Feb (02)</option>
                                    <option value="">Mar (03)</option>
                                    <option value="">Apr (04)</option>
                                    <option value="">May (05)</option>
                                    <option value="">Jun (06)</option>
                                    <option value="">Jul (07)</option>
                                    <option value="">Aug (08)</option>
                                    <option value="">Sep (09)</option>
                                    <option value="">Oct (10)</option>
                                    <option value="">Nov (11)</option>
                                    <option value="">Dec (12)</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 no-padding">
                                <label for="campaign_title">Expiry Year</label>
                                <select name="" class="form-control">
                                    <option value="">Select-one</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="2034">2034</option>
                                    <option value="2035">2035</option>
                                    <option value="2036">2036</option>
                                    <option value="2037">2037</option>
                                    <option value="2038">2038</option>
                                    <option value="2039">2039</option>
                                    <option value="2040">2040</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <label for="campaign_title">CVV</label>
                                    <input name="cvv" class="form-control" ui-mask="999" ng-model="cvv" placeholder="___" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Name on Card</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="Name on Card" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Address 1</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="Address 1" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Address 2</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="Address 2" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">City</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="City" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Location</label>
                            <input type="text" class="form-control" id="campaign_title" placeholder="Location" value="">
                        </div>
                        <div class="form-group">
                            <label for="campaign_title">Zip Code</label>
                            <input type="text" class="form-control" id="campaign_title" ui-mask="99999" ng-model="zipcode" placeholder="_____" value="">
                        </div>
                        <a href='' class="btn btn-primary pull-right">Continue</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
