<section>
    <div class="container no-padding">
        <div class="col-md-12 no-padding">
            <div class="col-xs-12 col-sm-3 no-padding">
                <div ng-include="'templates/dashboard/dashboard_panel.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6">
                <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
                    <h3>Account Status - <small>Manage your easy funding account status below</small></h3>
                    <br>
                    <p>Your Account is live!</p>
                    <br>
                    <h4>Join Date</h4>
                    <p>June 23 2015</p>
                    <br>
                    <ul class="list-unstyled list-inline red">
                        <li><a href="#/" target="_blank">Share Facebook</a></li><span> | </span>
                        <li><a href="#/" target="_blank">Common Questions</a></li><span> | </span>
                        <li><a href="#/delete_account">Delete Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
